.container {
  text-align: center;
  margin: 0 auto;

  .clock {
    margin: 0 auto;
  }

  input {
    border: none;
    font-size: 4rem;
    height: 3rem;
    margin-right: 0.25rem;
    order: 0;
    padding: 0.2rem;
    width: 5rem;
  }

  button {
    color: #fff;
    background: green;
    border: 2px solid #fff;
    font-size: 2rem;
    margin: 1rem auto;
    width: 60%;

    &.running {
      background-color: #f00;
    }
  }
}
